# هذا الملف يُنشأ تلقائياً بواسطة Android Studio
# لا ترفعه على GitHub

# مسار Android SDK
# sdk.dir=/Users/username/Library/Android/sdk
# sdk.dir=C:\\Users\\username\\AppData\\Local\\Android\\Sdk
# sdk.dir=/home/username/Android/Sdk
